.wrapper {
  display: flex;
  justify-content: space-between;
  height: 3.8rem;
  background-color: var(--chat-color-secondary);
}

.wrapper input {
  height: 2.5rem;
  width: 100%;
  margin: .5rem 1rem;
  padding: 0 .5rem;
  border-radius: .5rem;
  border-style: none;
  color: var(--chat-text-color);
  background-color: var(--chat-color-primary);
}