:root {
  --background-green: #00a783;
  --background-grey: #e2e1dd;

  --chat-color-primary: #fff;
  --chat-color-secondary: #f0f2f5;
  --chat-color-hover: #f5f6f6;
  --chat-text-color: #3b4a54;

  --button-primary-color: #008069;
}



